{% extends 'base.html'%}

{% block content %}
<div class="container" style="background-image: url('../../static/about-bg.jpg')!important;">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>About Me</h1>
        <span class="subheading">This is what I do.</span>
      </div>
    </div>
  </div>
</div>
</header>

<!-- Main Content -->
<div class="container">
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>I am a student at Moringa School.</p>
    <p>Currently I am pursuing Software Engineering as a Full Stack Developer.</p>
  </div>
</div>
</div>

<hr>

<!-- Footer -->
<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p class="copyright text-muted">Copyright &copy; Your Website 2022</p>
    </div>
  </div>
</div>
</footer>
{% endblock %}